@import '../../assets/styles/common.scss';

.popup-container {
	height: 200px;
	position: relative;
	width: 400px;
}

.popup-container--content {
	height: 100%;
	position: relative;

	> * {
		height: 100%;
	}
}

.popup-container--overlay-color {
	@extend %full-view;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	display: flex;
	justify-content: center;

	* {
		font-size: 1000%;
	}
}

.popup-container--overlay-image {
	@extend %full-view;
	background-image: url('../../assets/images/background.jpg');
	filter: blur(1px) grayscale(0.5);
}

.popup-header {
	color: #fff;
}

.popup-info {
	color: #fff;
	text-align: center;

	> *:not(.popup-watching-progress) {
		margin: 8px 0;
	}
}

.popup-watching--content {
	height: 100%;
	position: relative;

	> * {
		height: 100%;
	}
}

.popup-watching-progress {
	bottom: 0;
	height: 8px;
	left: 0;
	position: absolute;
	width: 100%;
}
