{
  "env": {
    "production": {
      "presets": [
        ["minify", { "builtIns": false }]
      ]
    }
  },
  "plugins": [
    "@babel/proposal-class-properties",
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ],
  "presets": [
    "@babel/typescript",
    "@babel/preset-env",
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}