@import '@styles/fonts.scss';

*:focus {
	outline: none;
}

body {
	margin: 0;
}

.button-group-container {
	display: flex;
	flex-direction: column;
}

.button-group {
	align-self: center;
}

.container--center-horizontal {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
}

.container--center-vertical {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.container--left-right,
.container--left-right--center {
	display: flex;
	width: 100%;

	// Left container
	> :first-child {
		flex: 1;
	}

	// Middle container
	> :nth-child(2) {
		text-align: center;

		// This means the next sibling (which is the right container), so the right container only grows if there's a middle container, to prevent the left container from overflowing
		& + * {
			flex: 1;
		}
	}

	// Right container
	> :last-child {
		text-align: right;
	}
}

.container--left-right--center {
	align-items: center;
}
