.tmdb-image {
	background-position: center;
	background-size: cover !important;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.tmdb-image-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.wrong-item-dialog,
.missing-watched-date-dialog {
	min-height: 150px;
	min-width: 300px;
}

.wrong-item-dialog-suggestions-title {
	margin-top: 8px;
}
