.history-actions {
	display: flex;
	justify-content: center;
	padding: 16px;
}

.history-actions > * {
	margin: 0 8px;
}

.history-actions--container {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
}

.history-container {
	padding-top: 16px;
}

.history-content {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 100px;
}

.history-header {
	color: #fff;
}

.history-info {
	text-align: center;
}

.history-info > * {
	margin: 8px 0;
}

.history-list-item {
	display: flex;
	justify-content: end;
}

.history-list-item > * {
	margin: 0 8px;
}

.history-list-item-status {
	align-items: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 4px;
	width: 32px;
}

.history-list-item-status,
.history-list-item-checkbox {
	align-self: center;
}

.history-list-item-card {
	margin: 8px 0;
	text-align: center;
	width: 350px;
}

.history-list-item-divider {
	margin: 8px 0;
	width: 100%;
}

.history-options-list-container {
	height: min-content;
	position: sticky;
	top: 100px;
}

.history-options-list-container > * {
	width: max-content;
	margin: 8px 0;
}
