.options-actions {
	display: flex;
	justify-content: center;
	padding: 16px;

	> * {
		margin: 0 8px;
	}
}

.options-actions--container {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
}

.options-container {
	padding-top: 16px;
}

.options-list-item {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.options-list-item--secondary {
	padding-right: 64px;
}

.options--streaming-service {
	align-items: center;
	display: grid;
	grid-gap: 0 50px;
	grid-template-columns: 150px;
	justify-content: space-around;
}

@media only screen and (min-width: 400px) {
	.options--streaming-service {
		grid-template-columns: repeat(2, 150px);
	}
}

@media only screen and (min-width: 600px) {
	.options--streaming-service {
		grid-template-columns: repeat(3, 150px);
	}
}

@media only screen and (min-width: 800px) {
	.options--streaming-service {
		grid-template-columns: repeat(4, 150px);
	}
}

@media only screen and (min-width: 1000px) {
	.options--streaming-service {
		grid-template-columns: repeat(5, 150px);
	}
}
