@import 'common';

.popup-container {
	height: 200px;
	padding: 8px;
	width: 400px;

	&.light {
		.popup-container--overlay-color {
			background-color: rgba(0, 0, 0, 0.25);
		}
	}

	&.dark {
		.popup-container--overlay-color {
			background-color: rgba(0, 0, 0, 0.75);
		}
	}
}

.popup-container--content {
	height: 100%;
	position: relative;

	> * {
		height: 100%;
	}
}

.popup-container--overlay-color {
	@extend %full-view;
}

.popup-container--overlay-image {
	@extend %full-view;
	background-image: url('../images/background.jpg');
	background-size: cover !important;
	filter: blur(2px) grayscale(0.5);
}

.popup-header {
	color: #fff;
}

.popup-info {
	color: #fff;
	text-align: center;

	> * {
		margin: 8px 0;
	}
}

.popup-watching--content {
	height: 100%;
	position: relative;

	> * {
		height: 100%;
	}
}
